= form_for @list do |f|
  .form-group
    = f.label :title, 'What do you need help naming?', class: 'control-label'
    = f.text_field :title, placeholder: 'My cat, my baby, ...', class: 'form-control'

  .form-group
    = f.label :notes, 'Additional information', class: 'control-label'
    = f.text_area :notes, placeholder: 'This is a really big brown cat, ...', class: 'form-control'

  %button.btn.btn-primary{type: 'submit'}
    Continue
    = fa_icon 'chevron-right'

