.panel
  .panel-heading
    %h3.panel-title
      Help
      %span.text-success= @list.creator
      find a name for…
  .panel-body
    %p= @list.title
    %p.text-muted= @list.notes

= link_to new_list_suggestion_path(@list.to_param), class: 'btn btn-primary', id: 'add' do
  %i.icon-plus-sign-alt
  Add Suggestion

%p.text-muted{style: 'margin-top: 20px'}
  = fa_icon 'share-sign'
  Share this URL with your friends to get some help:
  %div
    %input{type: 'text', value: list_url(@list), style: 'width: 100%; color: #999; border: 1px solid #ccc'}
