.big-logo= render 'shared/logo'

.jumbotron
  %h2 Need Help Naming Something?
  %p
    You can get help coming up with a name for something (a product, a baby, a song, etc...) from your friends.
  %p
    %a.btn.btn-primary.btl-lg#get-started{style: 'margin-top: 20px'}
      Get Started
      = fa_icon 'chevron-right'

.panel.panel-default
  .panel-body
    %h4 Helping Someone Else Come Up With A Name?
    %p
      They should have sent you a link—click it or paste it in your browser's address bar.

- if @recently_viewed_lists.present?
  .recently_viewed_lists
    %h4 You recently viewed:
    - @recently_viewed_lists.find_each do |list|
      = link_to list_path(list), class: 'recently_viewed_list' do
        Help #{list.creator} find a name for
        %span.list_title= list.title
