.suggestion{id: "suggestion_#{suggestion.to_param}"}
  = link_to list_suggestion_votes_path(@list, suggestion), remote: true, method: :post, class: 'btn btn-link btn-large vote-button' do
    = fa_icon 'star-empty'
  .suggestion-contents
    = suggestion.contents
    .suggestion-notes
      = fa_icon 'star'
      %span.vote-count= suggestion.vote_count
      •
      Suggested by
      %span.creator= suggestion.creator
      #{time_ago_in_words suggestion.created_at} ago
  .clearfix
