.suggestion{id: "suggestion_#{suggestion.to_param}"}
  = link_to list_suggestion_votes_path(@list, suggestion), remote: true, method: :post, class: 'btn btn-link btn-large vote-button' do
    = fa_icon 'star-empty'
  .suggestion-contents
    = suggestion.contents
    %ul.actions
      %li
        = fa_icon 'star'
        %span.vote-count= suggestion.vote_count
      %li
        By
        %span.creator= suggestion.creator
        #{time_ago_in_words suggestion.created_at} ago
      %li
        = link_to new_list_suggestion_comment_path(@list, suggestion) do
          = fa_icon 'comment'
          Add Comment
      %li
        = link_to list_suggestion_domain_names_path(@list, suggestion) do
          = fa_icon 'cloud'
          Find Domain Names
  .clearfix
  .suggestion-comments
    = render suggestion.comments.order('created_at asc')
