!!!
%html
  %head
    %title Help Name It

    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag    '//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css'
    = stylesheet_link_tag    '//fonts.googleapis.com/css?family=Prosto+One'

    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag '//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js'

    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    = csrf_meta_tags

  %body
    - unless @hide_navbar
      %nav.navbar.navbar-default{role: 'navigation'}
        .navbar-header
          = link_to root_path, class: 'navbar-brand' do
            = render 'shared/logo'
    .container
      = yield
